<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bebidas</title>
</head>
<body>

<table width="300">
    <tr>
    <th>Nombre</th>
        <th>Tipo</th>
        <th>Graduacion %</th>
        <th>Acompañante</th>

    </tr>
    <tr th:each="bebida : ${bebidas}">
        <td th:text="${bebida.getNombre()}"></td>
        <td th:text="${bebida.getTipoBebida()}"></td>
        <td th:text="${bebida.getGraduacion().getPorcentaje()}"></td>
        <td th:text="${bebida.getAcompanante().getNombre()}"></td>




    </tr>
</table>

</body>
</html>